<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<meta charset="UTF-8">
<title>배송조회</title>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

<th:block th:replace="~{/layout/basic::setContent(~{this::content})}">
    <th:block th:fragment="content">
        <h1 style="font-size:100px; text-align: center">개발 진행 중 입니다.</h1>
        <h1 style="font-size:100px; text-align: center">개발 진행 중 입니다.</h1>
        <h1 style="font-size:100px; text-align: center">개발 진행 중 입니다.</h1>
        <h1 style="font-size:100px; text-align: center">개발 진행 중 입니다.</h1>
<!--        <input type="hidden" id="memberCode" th:value="${principal.memberCode}">-->
<!--        <div style="text-align: center">-->
<!--            <img  src="/file/delivery.jpg" alt="x">-->

<!--&lt;!&ndash;        <h1 style="text-align: center">수신자 정보</h1>&ndash;&gt;-->
<!--            <h1 >수신자 정보</h1>-->
<!--            <table    width="500" height="100">-->
<!--&lt;!&ndash;        <table style="margin:auto"  class="table table-dark table-striped">&ndash;&gt;-->
<!--            <thead>-->
<!--            <tr>-->
<!--                <th scope="col">상품명</th>-->
<!--                <th scope="col">상품사진</th>-->
<!--                <th scope="col">수신자 이름</th>-->
<!--                <th scope="col">배송지</th>-->
<!--                <th scope="col">요청사항</th>-->
<!--            </tr>-->
<!--            </thead>-->
<!--            <div>-->
<!--                <tbody>-->
<!--                <tr>-->
<!--                    <th scope="col" th:text="${order.get().productCode.productName}">상품명</th>-->
<!--                    <th><img th:src="${order.get().productCode.productFilePath}" width="150px" height="150px"></th>-->
<!--                    <th scope="col" th:text="${order.get().ordersReceiverName}">수신자이름</th>-->
<!--                    <th scope="col" th:text="${order.get().ordersAddress}">배송지</th>-->
<!--                    <th scope="col" th:text="${order.get().ordersRequest}">요청사항</th>-->
<!--                </tr>-->
<!--                </tbody>-->
<!--            </div>-->
<!--        </table>-->
<!--&lt;!&ndash;        <h1 style="text-align: center">택배사 정보</h1>&ndash;&gt;-->
<!--            <h1 >택배사 정보</h1>-->
<!--            <table  class="table table-dark table-striped">-->
<!--&lt;!&ndash;        <table style="margin:auto"  class="table table-dark table-striped">&ndash;&gt;-->
<!--            <thead>-->
<!--            <tr>-->
<!--                <th scope="col">택배 회사</th>-->
<!--                <th scope="col">송장 번호</th>-->
<!--                <th scope="col">택배기사 연락처</th>-->


<!--            </tr>-->
<!--            </thead>-->
<!--            <div>-->
<!--                <tbody>-->
<!--                <tr>-->
<!--                    &lt;!&ndash;                    <th scope="col" th:text="${order.get().ordersReceiverName}">수신자이름</th>&ndash;&gt;-->
<!--                    &lt;!&ndash;                    <th scope="col" th:text="${order.get().ordersAddress}">배송지</th>&ndash;&gt;-->
<!--                    &lt;!&ndash;                    <th scope="col" th:text="${order.get().ordersRequest}">요청사항</th>&ndash;&gt;-->
<!--                </tr>-->
<!--                </tbody>-->
<!--            </div>-->
<!--        </table>-->
<!--        </div>-->

<!--        <br>-->
<!--        <br>-->
<!--        &lt;!&ndash;        <div style="text-align: center">&ndash;&gt;-->
<!--        &lt;!&ndash;            <a  th:href="@{/product/orderlist(memberCode=${principal.memberCode})}">&ndash;&gt;-->
<!--        &lt;!&ndash;                <button class="btn btn-primary btn-order">주문내역보기</button></a>&ndash;&gt;-->
<!--        &lt;!&ndash;            <a  th:href="@{/product}"><button class="btn btn-primary btn-order">쇼핑계속하기</button></a>&ndash;&gt;-->
<!--        &lt;!&ndash;            <a  th:href="@{/}"><button class="btn btn-primary btn-order">메인으로</button></a>&ndash;&gt;-->
<!--        &lt;!&ndash;        </div>&ndash;&gt;-->

        </body>
        <script th:inline="javascript">
            // $(() => {
            //     if ($('#refundStatus').text() == '환불완료') {
            //         console.log("환불완료")
            //         $('#refund').hide();
            //     } else if ($('#refundStatus').text() == '환불대기') {
            //         console.log("환불대기")
            //         $('#refund').hide();
            //     } else {
            //         $('#refund').hide();
            //         console.log("환불거절")
            //     }
            // })
        </script>
    </th:block>
</th:block>
</html>