<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="layout(main)" xmlns:sec="http://www.w3.org/1999/xhtml">
<th:block th:fragment="setContent(content)">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Simple Sidebar - Start Bootstrap Template</title>
        <!-- Bootstrap core CSS -->
        <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <!-- Custom stytles for this template -->
        <link href="/css/simple-sidebar.css" rel="stylesheet">
        <!-- Bootstrap core JavaScript -->
        <script src="/vendor/jquery/jquery.min.js"></script>
        <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    </head>

    <body>

    <div class="d-flex" id="wrapper">


        <!-- Sidebar -->
        <div class="bg-light border-right" id="sidebar-wrapper">
            <div class="sidebar-heading">Green Donation </div>
            <div class="list-group list-group-flush">
                <a th:href="@{'/design/addpost'}" class="list-group-item list-group-item-action bg-light">회원 관리</a>
                <ul>
                </ul>
            </div>

            <div class="list-group list-group-flush">
                <a class="list-group-item list-group-item-action bg-light">작가 관리</a>
                <ul>
                </ul>
            </div>

            <div class="list-group list-group-flush">
                <a class="list-group-item list-group-item-action bg-light">업체 회원 관리</a>
                <ul>
                </ul>
            </div>

            <div class="list-group list-group-flush">
                <a class="list-group-item list-group-item-action bg-light">상품관리</a>
                <ul>
                </ul>
            </div>

            <div class="list-group list-group-flush">
                <a class="list-group-item list-group-item-action bg-light">디자인 관리</a>
                <ul>
                </ul>
            </div>

            <div class="list-group list-group-flush">
                <a class="list-group-item list-group-item-action bg-light">후원관리</a>
                <ul>
                </ul>
            </div>

            <div class="list-group list-group-flush">
                <a class="list-group-item list-group-item-action bg-light">교육관리</a>
                <ul>
                </ul>
            </div>
        </div>

        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">

            <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                <button class="btn btn-primary" id="menu-toggle">Toggle Menu</button>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                        <li class="nav-item active">
                            <a class="nav-link" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Dropdown
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" th:href="@{/signupType}">
                                    <button sec:authorize="!isAuthenticated()" class="btn btn-lg btn-secondary">회원가입</button>
                                </a>
                                <a class="dropdown-item" th:href="@{/login}">
                                    <button sec:authorize="!isAuthenticated()" class="btn btn-lg btn-dark">로그인</button>
                                </a>

                                <a class="dropdown-item" th:href="@{/logout}">
                                    <button sec:authorize="isAuthenticated()" class="btn btn-danger btn-lg">로그아웃</button>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>

            <div class="container-fluid">
                <th:block th:replace="${content}"></th:block>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->



    <!-- Menu Toggle Script -->
    <script>
        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });

        // $("#modify").on('click', ()=>{
        //     console.log('#memberName')
        // });
    </script>

    </body>
</th:block>
</html>
