<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="layout(main)" xmlns:sec="http://www.w3.org/1999/xhtml">
<th:block th:fragment="setContent(content)">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Simple Sidebar - Start Bootstrap Template</title>
        <!-- Bootstrap core CSS -->
        <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <!-- Custom stytles for this template -->
        <link href="/css/simple-sidebar.css" rel="stylesheet">
        <!-- Bootstrap core JavaScript -->
        <script src="/vendor/jquery/jquery.min.js"></script>
        <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    </head>

    <body>

    <div class="d-flex" id="wrapper">

        <!-- Sidebar -->
        <div class="bg-light border-right" id="sidebar-wrapper">
            <div class="sidebar-heading">Green Donation </div>
            <div class="list-group list-group-flush">
                <a th:href="@{'/design/addpost'}" class="list-group-item list-group-item-action bg-light">에코 디자인</a>
                <ul>
                    <a style="text-decoration: none;" th:href="@{/design/addpost}" >공유 디자인 등록</a><br>
                    <a style="text-decoration: none;" th:href="@{/design/addpost}" >마이 디자인 등록</a><br>
                    <a style="text-decoration: none;" th:href="@{/design/list}">회원 디자인 목록</a><br>
                    <a style="text-decoration: none;" th:href="@{/design/consulting}">컨설팅 신청</a><br>
                </ul>
            </div>

            <div class="list-group list-group-flush">
                <a class="list-group-item list-group-item-action bg-light">그린 마켓</a>
                <ul>
                    <a style="text-decoration: none;" th:href="@{/product}">상품 조회</a><br>
                    <a style="text-decoration: none;" th:href="@{/product/add}">상품 등록</a><br>
                    <a style="text-decoration: none;" th:href="@{/product/manager}">상품 관리</a><br>
                    <a style="text-decoration: none;" th:href="@{/product/orderlist}">상품 주문 목록</a><br>
                    <a style="text-decoration: none;" th:href="@{/product/refund}">환불</a><br>

                </ul>
            </div>

            <div class="list-group list-group-flush">
                <a class="list-group-item list-group-item-action bg-light">후원</a>
                <ul>
                    <a style="text-decoration: none;" th:href="@{/donation}">후원 안내</a><br>
                    <a style="text-decoration: none;" onclick="window.open('/donation/financialSupport')">금전 후원</a><br>
                    <a style="text-decoration: none;" th:href="@{/donation/clothingSponsor}">의류 후원</a><br>
                    <a style="text-decoration: none;" th:href="@{/donation/manager}">후원 관리</a><br> <!-- 관리자만 보일 수 있게끔 하기 -->
                </ul>
            </div>

            <div class="list-group list-group-flush">
                <a class="list-group-item list-group-item-action bg-light">교육</a>
                <ul>
                    <a style="text-decoration: none;" th:href="@{/education/shareedu}">나눔 교육</a><br>
                    <a style="text-decoration: none;" th:href="@{/education/fitedu}">맞춤 교육</a><br>
                </ul>
            </div>

        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">

            <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                <button class="btn btn-primary" id="menu-toggle">Toggle Menu</button>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                        <li class="nav-item active">
                            <a class="nav-link" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Dropdown
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" th:href="@{/signupType}">
                                    <button sec:authorize="!isAuthenticated()" class="btn btn-lg btn-secondary">회원가입</button>
                                </a>
                                <a class="dropdown-item" th:href="@{/login}">
                                    <button sec:authorize="!isAuthenticated()" class="btn btn-lg btn-dark">로그인</button>
                                </a>
                                <div sec:authorize="hasRole('ROLE_MEMBER')">
                                    <a id="modify" th:href="@{/me/memberMyPage(id=${principal.memberCode}, writer = ${principal.role})}" th:text="${principal.memberName}">마이페이지</a>
                                </div>

                                <div sec:authorize="hasRole('ROLE_AUTHOR')">
                                    <a id="modify1" th:href="@{/me/authorMyPage(id=${principal.memberCode}, writer = ${principal.role})}" th:text="${principal.memberName}">마이페이지</a>
                                </div>

                                <div sec:authorize="hasRole('ROLE_COMPANY')">
                                    <a id="modify2" th:href="@{/me/companyMyPage(id=${principal.memberCode}, writer = ${principal.role})}" th:text="${principal.memberName}">마이페이지</a>
                                </div>

                                <div sec:authorize="hasRole('ROLE_ADMIN')">
                                    <a id="modify3" th:href="@{/me/adminMyPage(id=${principal.memberCode}, writer = ${principal.role})}" th:text="${principal.memberName}">마이페이지</a>
                                </div>
                                <a class="dropdown-item" th:href="@{/logout}">
                                    <button sec:authorize="isAuthenticated()" class="btn btn-danger btn-lg">로그아웃</button>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>


            <div class="container-fluid">
                <th:block th:replace="${content}"></th:block>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->



    <!-- Menu Toggle Script -->
    <script>
        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });

        // $("#modify").on('click', ()=>{
        //     console.log('#memberName')
        // });
    </script>

    </body>
</th:block>
</html>
