<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>강사프로필</title>
</head>
<body>
<th:block th:replace="~{/layout/basic::setContent(~{this::content})}">
<th:block th:fragment="content">
    <a sec:authorize="isAuthenticated()">
    <p>강사프로필</p>
    <div th:each="i:${info}">
        <!--        <div th:text="${i.memberCode.memberName}"></div>-->
        <div th:text="${i.writerLecturePlace}"></div>
        <div th:text="${i.availableStartTime}"></div>
        <div th:text="${i.availableFinishTime}"></div>
        <div th:text="${i.availableDay}"></div>
        <div th:text="${i.trainingTopic}"></div>
        <div th:text="${i.trainingStatus}"></div>
        <div th:text="${i.feedbackStatus}"></div>
        <button><a th:href="@{/writerpage/writerprofilemanage(id=${i.writerInformationCode})}">수정하기</a></button>
        <hr>
    </div>
    </a>
</th:block>
</th:block>
</body>
</html>