<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>강사프로필</title>
</head>
<body>
<th:block th:replace="~{/layout/basic::setContent(~{this::content})}">
<th:block th:fragment="content">
    <a sec:authorize="isAuthenticated()">
    <h2>강사프로필</h2>
        <hr>
    <div th:each="i:${info}" th:if="${principal.memberCode}==${i.memberCode}">
                <div th:text="${i.memberCode.memberName}"></div>
        <div>
            <h3>강사 활동 지역</h3>
            <p th:text="${i.writerLecturePlace}"></p>
        </div>
        <div>
            <h3>강사 활동 시간</h3>
            <p th:text="${i.availableStartTime}+'부터'+${i.availableFinishTime}+'까지'"></p>
        </div>
        <div>
            <h3>가능한 요일</h3>
            <p th:text="${i.availableDay}"></p>
        </div>
        <div>
            <h3>강의 주제</h3>
            <p th:text="${i.trainingTopic}"></p>
        </div>
        <div th:text="${i.trainingStatus}"></div>
        <div th:text="${i.feedbackStatus}"></div>
        <button><a th:href="@{/writerpage/writerprofilemanage(id=${i.writerInformationCode})}">수정하기</a></button>
        <hr>
    </div>
    </a>
</th:block>
</th:block>
</body>
</html>