<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<th:block th:replace="~{/layout/basic::setContent(~{this::content})}">
    <th:block th:fragment="content">
<head>
    <meta charset="UTF-8">
    <title>맞춤교육</title>
</head>
        <a sec:authorize="isAuthenticated()">
<body>
<div id="main">
    <p>맞춤교육이에요.</p>
    <button><a th:href="@{'/education/shareedu'}">나눔교육</a></button>
    <button><a th:href="@{'/education/fitedu'}">맞춤교육</a></button>
</div>
</body>
        </a>
    </th:block>
</th:block>
</html>