<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<th:block th:replace="~{/layout/basic::setContent(~{this::content})}">
    <th:block th:fragment="content">
<head>
    <meta charset="UTF-8">
    <script
            src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"
    ></script>
    <title>교육나눔</title>
</head>

<body>
    <th:block th:fragment="content">
        <a sec:authorize="isAuthenticated()">
            <hr>
            <h1>강의목록</h1>
            <div>
                <input name="btnradio" id="btnradio1" autocomplete="off" checked/>
                <label for="btnradio1" onclick="showAll()">전체</label>

                <input name="btnradio" id="btnradio2" autocomplete="off"/>
                <label for="btnradio2" onclick="showBar()"></label>

                <input name="btnradio" id="btnradio3" autocomplete="off"/>
                <label for="btnradio3" onclick="showCone()"></label>

                <input name="btnradio" id="btnradio4" autocomplete="off"/>
                <label for="btnradio4" onclick="showTong()"></label>

                <input type="text" placeholder="검색">
            </div>
            <table class="table table-dark table-striped">
                <thead>
                <tr>
                    <th scope="col">강의제목</th>
                    <th scope="col">사진</th>
                    <th scope="col">가격</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="s : ${shareedu}" th:class="c+${s.material.materialCode}">
                    <th th:text="${s.shareeduName}" id="shareeduName"></th>
                    <th><video autoplay controls loop muted  preload="bbb">
                        <source th:src="${s.shareeduFilePath}" width="150px" height="150px"></th>
                    <th th:text="${s.shareeduPrice}" id="shareeduPurchasePrice"></th>
                    <a th:href="@{/education/shareedu/details(id=${s.shareeduCode})}"><button>강의상세보기</button></a>
                </tr>
                </tbody>
            </table>
        </a>
    </th:block>
</body>
        <script th:inline="javascript">
            function showBar() {
                $('.c1').show();
                $('.c2').hide();
                $('.c3').hide();
            }
            function showCone() {
                $('.c1').hide();
                $('.c2').show();
                $('.c3').hide();
            }
            function showTong() {
                $('.c1').hide();
                $('.c2').hide();
                $('.c3').show();
            }
            function showAll() {
                $('.c1').show();
                $('.c2').show();
                $('.c3').show();
            }




        </script>
</html>