<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>옷 후원 관리 페이지</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
          crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
            integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.0.272/jspdf.debug.js"></script>
</head>
        <a sec:authorize="isAuthenticated()">

<body>
<div id="clothManages">
    <th:block th:replace="~{/layout/basic::setContent(~{this::content})}">
        <th:block th:fragment="content">
<h1>옷 후원 수정</h1>
<input type="hidden" id="clothingSponsorCode" th:value="${clothingSponsorCode}">
<table class="w3-table">
    <thead>
    <tr>
        <th scope="col">의류후원코드</th>
        <th scope="col">의류량</th>
        <th scope="col">수거날짜</th>
        <th scope="col">수거지역</th>
        <th scope="col">기부영수증발행여부</th>
        <th scope="col">기부영수증신청여부</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th>
            <p name="clothingSponsorCode" th:value="${clothingSponsorCode}" th:text="${clothingSponsorCode}">
        </th>
        <th>
            <input type="text" id="amount" th:value="${amount}">
        </th>
        <th>
            <input type="text" id="pickupDate" th:value="${pickupDate}" disabled>
        </th>
        <th>
            <input type="text" id="pickupArea" th:value="${pickupArea}">
        </th>
        <th>
            <input type="text" id="issueStatus" th:value="${issueStatus}" disabled>
        </th>
        <th>
            <input type="text" id="appStatus" th:value="${appStatus}" disabled>
        </th>
    </tr>
    </tbody>
</table>
<div class="text-center">
    <button id="applicationModify" class="btn btn-outline-success" type="submit">상품수정</button>
    <button id="clothDelete" class="btn btn-outline-success" type="submit">상품삭제</button>
    <button class="btn btn-outline-success" onclick="history.back()">돌아가기</button>
    <button id="submit" class="btn btn-outline-success" type="submit">PDF 만들기</button>
</div>
        </th:block>
    </th:block>
</div>


<div id="clothPdf" style="display: none">
    <div style="text-align: center">
    <h1>의류 기부 영수증</h1>
    <br>
    <h2 type="text" id="memberName" th:text="|${principal.memberName}님 기부해 주셔서 감사합니다!|"> </h2>
    <br><br>
    의류량<p id="clothAmount"></p>
    <br>
    수거날짜<p id="clothDate"></p>
    <br>
    수거지역<p id="clothArea"></p>
    <br>
    </div>

</div>
</body>
</div>
        </a>

<script th:inline="javascript">

    let amount = $('#amount').val();
    let pickupArea = $('#pickupArea').val();
    let pickupDate = $('#pickupDate').val();

    $(() => {
        $('#applicationModify').on('click', () => {
            const clothingSponsorCode = $('#clothingSponsorCode').val();
            const amount = $('#amount').val();
            const pickupDate = $('#pickupDate').val();
            const pickupArea = $('#pickupArea').val();
            const issueStatus = $('#issueStatus').val();
            const appStatus = $('#appStatus').val();

            const path = '/api/donations/update';

            const json = JSON.stringify({
                clothingSponsorCode,
                amount,
                pickupDate,
                pickupArea,
                issueStatus,
                appStatus,
            });

            $.ajax({
                url: path,
                type: 'PUT',
                contentType: 'application/json',
                data: json,

            }).done(() => {
                alert('수정 완료');
                window.location.href = '/donation/manager';
            }).fail((error) => {
                alert(error);
            })
        }),
            $('#clothDelete').on('click', () => {
                const clothingSponsorCode = $('#clothingSponsorCode').val();
                const path = '/api/donations/delete';

                const json = JSON.stringify({
                    clothingSponsorCode
                });
                console.log(json);
                $.ajax({
                    url: path,
                    type: 'DELETE',
                    contentType: 'application/json',
                    data: json,

                }).done(() => {
                    alert('삭제 완료')
                    window.location.href = '/donation/manager';
                }).fail((error) => {
                    alert((error));
                })
            }),
            $('#submit').on('click', () => {
                console.log("PDF 만들기")
                $('#clothManages').hide();
                $('#clothPdf').show();
                document.getElementById('clothAmount').innerHTML = amount;
                document.getElementById('clothArea').innerHTML = pickupArea;
                document.getElementById('clothDate').innerHTML = pickupDate;

                const doc = new jsPDF({
                    //orientation: "landscape",
                    orientation: "portrait",
                    format: "a4"
                    //format: [4, 2]
                });

                doc.addHTML(document.body,function() {
                    doc.save('의류기부영수증.pdf');
                });


            })
    })
</script>
</html>