<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
        <head>
            <meta charset="UTF-8">
            <title>후원 차트</title>
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
                  rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
                  crossorigin="anonymous">

            <!--    <script src="/js/jquery.twbsPagination.js"></script>-->
            <script src="https://code.jquery.com/jquery-3.5.1.min.js"
                    integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
        </head>
        <a sec:authorize="isAuthenticated()">
            <body>
            <th:block th:replace="~{/layout/basic::setContent(~{this::content})}">
                <th:block th:fragment="content">
                    <input type="hidden" id="findex" th:value="${findex}">
                    <input type="hidden" id="cindex" th:value="${cindex}">
                    <input type="hidden" id="findByType1" th:value="${findByType1}">
                    <input type="hidden" id="findByType2" th:value="${findByType2}">
                    <input type="hidden" id="findByArea1" th:value="${findByArea1}">
                    <input type="hidden" id="findByArea2" th:value="${findByArea2}">
                    <input type="hidden" id="findByArea3" th:value="${findByArea3}">
                    <input type="hidden" id="findByArea4" th:value="${findByArea4}">

            <button th:onclick="|location.href='@{/donation}'|">후원메인으로</button>

                    <div style="width: 500px; height: 500px;">
                            <h1>후원 현황 차트</h1>
                            <!--차트가 그려질 부분-->
                            <canvas id="donationApplicationChart"></canvas>
                        <br>
                            <h1>금전 후원 종류별 차트</h1>
                            <canvas id="financialTypeChart"></canvas>
                        <br>
                            <h1>의류 후원 지역별 차트</h1>
                            <canvas id="clothAreaChart"></canvas>
                            <br>
                    </div>
                </th:block>
            </th:block>
            </body>
        </a>

<!--            <div class="row">-->
<!--                <div class="container">-->
<!--                    <div style="margin-top:20px; margin-left:80px">-->
<!--                        <select name="selectMonth" id="selectMonth">-->
<!--                            <option value="1">JAN</option>-->
<!--                            <option value="2">FEB</option>-->
<!--                            <option value="3">MAR</option>-->
<!--                            <option value="4">APR</option>-->
<!--                            <option value="5">MAY</option>-->
<!--                            <option value="6">JUN</option>-->
<!--                            <option value="7">JUL</option>-->
<!--                            <option value="8">AUG</option>-->
<!--                            <option value="9">SEP</option>-->
<!--                            <option value="10">OCT</option>-->
<!--                            <option value="11">NOV</option>-->
<!--                            <option value="12">DEC</option>-->
<!--                        </select>-->
<!--                        <button id="btn">보기</button>-->
<!--                    </div>-->
<!--                </div>-->
<!--               <div id="graph" style="width: 80%; margin: 30px;">-->
<!--                    <div>-->
<!--                        <canvas id="canvas" height="350" width="600"></canvas>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            </div>-->


        <script src = "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.js"></script>

        <script src = "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.min.js"></script>

        <script src = "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.js"></script>

        <script src = "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
            <script>
                // 후원 유형별
                let findex =$('#findex').val();
                let cindex =$('#cindex').val();
                var context = document.getElementById("donationApplicationChart").getContext('2d');
                var donationApplicationChart = new Chart(context, {
                    type: 'bar',
                    data: {
                        labels: ['금전 후원', '의류 후원'],
                        datasets: [{
                            labels: ["금전 후원", "의류 후원"],
                            data: [findex, cindex], //컨트롤러에서 모델로 받아온다.
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(54, 162, 235, 0.2)'

                            ],
                            borderColor: [
                                'rgba(255,99,132,1)',
                                'rgba(54, 162, 235, 1)'

                            ],
                            borderWidth: 1
                        }
                        ]
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero:true
                                    }
                                }]
                            }
                        }
                });
                console.log("data : : : ::  :: : "+donationApplicationChart)
                console.log("data : : : ::  :: : "+donationApplicationChart.toString()) // 후원 현황 차트 script

                // 금전 유형별
                let findByType1 =$('#findByType1').val();
                let findByType2 =$('#findByType2').val();
                var context = document.getElementById("financialTypeChart").getContext('2d');
                var financialTypeChart = new Chart(context, {
                    type: 'bar',
                    data: {
                        labels: ['정기 후원', '일시 후원'],
                        datasets: [{
                            labels: ["정기 후원", "일시 후원"],
                            data: [findByType1, findByType2], //컨트롤러에서 모델로 받아온다.
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(54, 162, 235, 0.2)'

                            ],
                            borderColor: [
                                'rgba(255,99,132,1)',
                                'rgba(54, 162, 235, 1)'

                            ],
                            borderWidth: 1
                        }
                        ]
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero:true
                                }
                            }]
                        }
                    }
                });
                console.log("data : : : ::  :: : "+financialTypeChart)
                console.log("data : : : ::  :: : "+financialTypeChart.toString()) // 금전 유형 차트 script

                // 의류 지역별
                let findByArea1 =$('#findByArea1').val();
                let findByArea2 =$('#findByArea2').val();
                let findByArea3 =$('#findByArea3').val();
                let findByArea4 =$('#findByArea4').val();
                var context = document.getElementById("clothAreaChart").getContext('2d');
                var clothAreaChart = new Chart(context, {
                    type: 'bar',
                    data: {
                        labels: ['대구', '서울', '부산', '대전'],
                        datasets: [{
                            labels: ['대구', '서울', '부산', '대전'],
                            data: [findByArea1, findByArea2, findByArea3, findByArea4], //컨트롤러에서 모델로 받아온다.
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(18, 130, 68, 0.2)',
                                'rgba(232, 202, 84, 0.2)'
                            ],
                            borderColor: [
                                'rgba(255,99,132,1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(18, 130, 68, 1)',
                                'rgba(232, 202, 84, 1)'
                            ],
                            borderWidth: 1
                        }
                        ]
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero:true
                                }
                            }]
                        }
                    }
                });
                console.log("data : : : ::  :: : "+clothAreaChart)
                console.log("data : : : ::  :: : "+clothAreaChart.toString()) // 금전 유형 차트 script

            </script>
</html>