<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/basic::setContent(~{this::content})}">
  <th:block th:fragment="content">
    <head>
      <meta charset="UTF-8">
      <title>회원가입</title>
      <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    </head>
    <body>

    <div class="container">
      <div class="my-4">
        <h2>회원가입</h2>
      </div>
      <form th:action method="post" th:object="${member}">
        <div class="mb-3">
          <label for="username" class="form-label">아이디</label>
          <input type="text" class="form-control" id="username" th:field="*{memberId}">
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">비밀번호</label>
          <input type="password" class="form-control" id="password" th:field="*{password}">
        </div>

        <div class="mb-3">
          <label for="memberName" class="form-label">이름</label>
          <input type="text" class="form-control" id="memberName" th:field="*{memberName}">
        </div>

        <div class="mb-3">
          <label for="memberEmail" class="form-label">이메일</label>
          <input type="text" class="form-control" id="memberEmail" th:field="*{memberEmail}">
        </div>

        <div class="mb-3">
          <label for="memberPhoneNumber" class="form-label">휴대폰 번호</label>
          <input type="text" class="form-control" id="memberPhoneNumber" th:field="*{memberPhoneNumber}">
        </div>


        <hr class="my-3">
        <div class="mb-3">
          <div th:each="r : ${roles1}" class="form-check form-check-inline">
            <input type="radio" th:field="*{role}" th:value="${r.value}" class="form-check-input">
            <label th:for="${#ids.prev('role')}" th:text="${r.key}" class="form-check-label"></label>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">회원가입</button>
      </form>
    </div>
    </body>
  </th:block>
</th:block>
</html>